* {
	color: white;
}

body {
	background-color: black;
	background-image: url(../img/black3.jpg);
	background-size: 120%;
	background-attachment: fixed;
}

div {
	/*border: 5px solid white;*/
	position: relative;
	margin:5% 15% 5% 15%;
}

#top {
	min-height: 300px;

}

#left {

	margin-left: 0;
	margin-right: 0;
	width: 30%;
}

#kontakt {
	clear: both;
	float: right;
	width: 66%;
	min-height: 200px;
	margin-left: 0;
	margin-right: 0;
}



h1 {
	position: relative;
	float: left;
	margin-left: 3%;
	margin-right: 5%;
	font-family: cursive, Impact;
	font-weight: bold;

}

#kontakt > ul {
	clear: left;
	float: left;
	margin: 2% 3% 0 0;
	font-size: 1.3em;
}

a {
	clear: both;
	float: right;

}

img {
	width: 100%;
}

	/*img {

		margin: 3px;
		-webkit-transition: all 2s;
		-moz-transition: all 2s;
		-o-transition: all 2s;
		-ms-transition: all 2s;
		transition: all 2s;
		width: 30%;
		height: 30%;
		border:2px solid;
		border-radius:10px;
	}

	img:hover {
		width: 30%;
		height: 30%;
		}*/

		p {
			margin-left: 10px;
			margin-right: 10px;
		}



/*#header {
	z-index: 1;
	position: relative;
	margin-left: 5%;
	width: 90%;
	height: 60px;
	background-color: #385052;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.left p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}


.left {
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 1px;
	width: 30%;
	height: 100%;
	background-color: #128085;
	margin-bottom: 10px;
}

.right {

	background-color: #FAE8CD;
	width: 58%;
	margin-top: 10px;
	margin-left: 37%;
	height: 100%;
}


#footer p {
	position: relative;
	padding-top: 15px;
}
*/