body {
	background-size: 200%;
}

div {
	margin: 0;
	margin-bottom: 0;
}

img {
	width: 50%;
}

#bla{
	display: none;
}

#top {
	clear: both;

}
#kontakt {
	float: none;
	clear: both;
	width: 100%;
	min-height: 0;
}
#left {
	clear: both;
	width: 100%;
}

