div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	position: relative;
	margin-left: 5%;
	width: 90%;
	height: 60px;
	background-color: #385052;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.left p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}


.left {
	float: left;
	margin-top: 10px;
	margin-left: 5%;
	padding-top: 1px;
	width: 30%;
	height: 100%;
	background-color: #128085;
	margin-bottom: 10px;
}

.right {

	background-color: #FAE8CD;
	width: 58%;
	margin-top: 10px;
	margin-left: 37%;
	height: 100%;
}


#footer p {
	position: relative;
	padding-top: 15px;
}